<div class="container pt-5">

  <h1>Login</h1>

  {{!-- Redirects to "POST /login" --}}
  <form action="/login" method="post">
    {{!-- Will define a `req.body.username` --}}
    <input type="text" name="username" placeholder="Username"  class="form-control">
    <br>
    {{!-- Will define a `req.body.password` --}}
    <input type="password" name="password" placeholder="Password" class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Connect</button>
  </form>

  {{#if badCredentials}}
    <div class="alert alert-danger my-3">Bad credentials</div>
  {{/if}}

</div>